#div1{
    border: 3px solid red;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
}

p{
    padding-left: 10%;
}

#div2{
    border: 3px solid greenyellow;
    /* top-left,top-right,bottom-left,bottom-right */
    border-radius: 10px 20px 30px 40px; 
    
}

#div3{
    border: 3px solid pink;
    border-radius: 10px 20px 10px;
}

#div4{
    border: 3px solid brown;
    border-radius: 20px 10px;
}


#div5{
    border: 3px solid blue;
    border-radius: 10px;
}