#img1{
    width: 200px;
    height: 180px;
    border: 1px solid red;
    float: left;
}

#img2{
    width: 200px;
    height: 180px;
    border: 1px solid green;
    float: right;
}

h1{
    float: right;
}

p{
    float: right;
    clear: left;
}