#img1{
    width: 200px;
    height: 180px;
    border: 1px solid red;
    float: left;
}

#img2{
    width: 200px;
    height: 180px;
    border: 1px solid green;
    float: right;
}

h1{
    float: right;
}

p{
    float: right;
    clear: left;
}

/* inline element */
span{
    text-align: center;
    font-size: 20px;
    background-color: brown;
    color: #ffffff;

}

h1.red{
    color: red;
}

.maindiv h1 + p {color: steelblue;}
.siblingdiv h1 ~ p {text-align: left; font-size: 20px; text-decoration: dashed; color: violet;}


/* nth index */
/* li:nth-child(5) {color: red;} */

li:nth-child(even) {color: red;}

li:nth-child(odd) {color: blue;}


p::before {content: "good morning!!!  ";}

p::after {content: " bye!!!  ";}

/* p::first-letter {color: yellow;} */

p::first-line { color: greenyellow;}

p::selection {color: red;}