#container{
    border: 2px solid black;
    display: flex;  /* flex bydefault in row by default horizontal*/
    flex-direction: row; /* flex in horizontal shape*/
    justify-content: space-between;
    flex-wrap: wrap; /* default nowrap for minimize browser screen and see for that we can use other prop like
    wrap,wrap-reverse*/
}

div{
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 10px;
    padding: 10px;
}

#firstdiv{
    background-color: brown;
    order: 2;
}

#seconddiv{
    background-color: purple;
    order: -1; /* starting with order: -1 and rest of bydefault order: 0 */
}

#thirddiv{
    background-color: yellowgreen;
    order: 1;
}

#forthdiv{
    background-color: brown;
    order: 3
}

#fifthdiv{
    background-color: blueviolet;
    order: 4
}